@use 'partials/reset';
@use 'partials/default';
@use 'partials/modals';
@use 'partials/datatables';
@use 'partials/blog.scss';
/* App.css */

.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    overflow: auto;
    position: relative;

    & h1{
        text-transform: uppercase;
        color: rgb(0, 0, 0);
    }
    & .table-zone{
        width: 90%;
        height: auto;
        background-color: rgb(194, 194, 194);
        position: relative;
    }

}