#Contenedor{
    display: flex;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: static;
    height: 100%;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #ecd713;
    color: white;
    transition: 0.5s;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    transition: 0.5s;
    transform: translateX(10px);
}
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
#logo_sidebar{
    transition: 1s;
    padding: 0px;
    margin: 0px;
    width: 150px;


}
#logo_sidebar:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
.color{
    background-color: #ecd713;
}
.icono{
    margin: 0px 30px;
}
.icono:hover{
    transition: 0.5s;
    transform: scale(1.3);
}


