<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/default/Normalize.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/js/bootstrap.min.js">
    <link rel="shortcut icon" href="../assets/img/icons/RC_Service-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style_default.css">
    <link rel="stylesheet" href="../assets/style/style__contratacion.css">
    <title>Inicio</title>
</head>

<body id="body">
    <!-- El header tiene una altura de 70px por defecto-->
    <header>
        <div id="icons__menu">
            <i class="fa-solid fa-bars" id="btn__open"></i>
        </div>
    </header>
    <!-- el sidebar tiene un ancho de 80px por defecto  -->
    <div class="menu__side" id="menu__side">
        <div class="name__page">
            <img src="../assets/img/icons/RC_Service-removebg-preview.png" width="90px" height="90px" alt="">
        </div>
        <div class="options__menu">
            <a href="Index.html">
                <div class="option">
                    <i class="fa-solid fa-house" title="Inicio"></i>
                    <h5>Inicio</h5>
                </div>
            </a>
            <a href="emplear.html" class="selected">
                <div class="option">
                    <i class="fa-solid fa-file-contract" title="Contratos"></i>
                    <h5>Contratacion</h5>
                </div>
            </a>
            <a href="servicios.html">
                <div class="option">
                    <i class="fa-solid fa-screwdriver-wrench" title="Servicios"></i>
                    <h5>Servicio</h5>
                </div>
            </a>
            <a href="provedores.html">
                <div class="option">
                    <i class="fa-solid fa-person-digging" title="Provedores"></i>
                    <h5>Provedores</h5>
                </div>
            </a>
            <a href="ofertas.html">
                <div class="option">
                    <i class="fa-solid fa-shop" title="Ofertas"></i>
                    <h5>Ofertas</h5>
                </div>
            </a>
            <a href="inmuebles.html">
                <div class="option">
                    <i class="fa-solid fa-house-circle-exclamation" title="Inmuebles"></i>
                    <h5>Inmuebles</h5>
                </div>
            </a>
            <a href="empleados.html">
                <div class="option">
                    <i class="fa-solid fa-user-tie" title="Empleados"></i>
                    <h5>Empleados</h5>
                </div>
            </a>
        </div>

    </div>


    <!-- <div id="Contenedor-1">
        <section class="tablaPri">
            <h3>has la busqueda:</h3>
            <label for="">Identificacion :</label>
            <div>

                <input type="text" name="" value="">
                <button>Buscar</button>
            </div>
            <h1 class="titPag2"></h1>
            <div class="seccion2">

                <table class="tabla">
                    <tr class="fila">
                        <th>Identificación</th>
                        <th>Nombre y Apellido</th>
                        <th>Servicio</th>
                        <th>Ubicación</th>
                        <th>Proceso</th>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Maria Surcos</td>
                        <td>Electricista</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Maria Surcos</td>
                        <td>Carpintero</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Jhon Suarez</td>
                        <td>Electricista</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Jhon Suarez</td>
                        <td>Plomero</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Jhon Suarez</td>
                        <td>Manejo CAT</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Carlos Suarez</td>
                        <td>Todero</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Carlos Suarez</td>
                        <td>Todero</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Carlos Suarez</td>
                        <td>Todero</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>

                    <tr class="fila">
                        <td>109345</td>
                        <td>Carlos Suarez</td>
                        <td>Todero</td>
                        <td>Poblado</td>
                        <td><a class="btnContratar" href="Paginas/info_contratacion.html">info</a></td>
                    </tr>
                </table>
            </div>
        </section>
    </div> -->


    <script src="../assets/js/script_default.js"></script>
</body>

</html>