<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/all.min.css">
  <link rel="stylesheet" href="../assets/style/style.css">

  <link rel="shortcut icon" href="../assets/img/icons/RC_Service-removebg-preview.png" type="image/x-icon">

  <title>Login</title>
</head>

<body>
  <div id="login">
    <form id="ingresar_login">
      <img src="../assets/img/icons/RC_Service-removebg-preview.png" alt="">
      <h1>Login</h1>
      <p>Usuario<input type="text" placeholder="Usuario" class="user"></p>
      <p>Contraseña<input type="password" placeholder="Contraseña" class="pass"></p>
      <p class="ol_pass"><a href="#" class="ol_pass">¿Olvido su Contraseña?</a></p>
      <label>Rol
      </label>
      <select name="sub" id="s_servicio">
        <option value="Proveedor">
          Proveedor
        </option>
        <option value="Inmueble">
          Inmueble
        </option>
      </select>
      <a href="index.html" class="boton">Iniciar</a>
    </form>