<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/default/Normalize.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/js/bootstrap.min.js">
    <link rel="shortcut icon" href="../assets/img/icons/RC_Service-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style_default.css">
    <link rel="stylesheet" href="../assets/style/style__provedores.css">
    <title>Inicio</title>
</head>

<body id="body">
    <!-- El header tiene una altura de 70px por defecto-->
    <header>
        <div id="icons__menu">
            <i class="fa-solid fa-bars" id="btn__open"></i>
        </div>
    </header>
    <!-- el sidebar tiene un ancho de 80px por defecto  -->
    <div class="menu__side" id="menu__side">
        <div class="name__page">
            <img src="../assets/img/icons/RC_Service-removebg-preview.png" width="90px" height="90px" alt="">
        </div>
        <div class="options__menu">
            <a href="Index.html">
                <div class="option">
                    <i class="fa-solid fa-house" title="Inicio"></i>
                    <h5>Inicio</h5>
                </div>
            </a>
            <a href="emplear.html">
                <div class="option">
                    <i class="fa-solid fa-file-contract" title="Contratos"></i>
                    <h5>Contratacion</h5>
                </div>
            </a>
            <a href="servicios.html">
                <div class="option">
                    <i class="fa-solid fa-screwdriver-wrench" title="Servicios"></i>
                    <h5>Servicio</h5>
                </div>
            </a>
            <a href="provedores.html" class="selected">
                <div class="option">
                    <i class="fa-solid fa-person-digging" title="Provedores"></i>
                    <h5>Provedores</h5>
                </div>
            </a>
            <a href="ofertas.html">
                <div class="option">
                    <i class="fa-solid fa-shop" title="Ofertas"></i>
                    <h5>Ofertas</h5>
                </div>
            </a>
            <a href="inmuebles.html">
                <div class="option">
                    <i class="fa-solid fa-house-circle-exclamation" title="Inmuebles"></i>
                    <h5>Inmuebles</h5>
                </div>
            </a>
            <a href="empleados.html">
                <div class="option">
                    <i class="fa-solid fa-user-tie" title="Empleados"></i>
                    <h5>Empleados</h5>
                </div>
            </a>
        </div>

    </div>

    <!-- Provedoores -->
    <div id="Contenedor">


        <section>
            <div id="Contenedor-1">
                <table id="tabla">
                    <div id="espacio_busqueda">
                        <div id="espacio_busqueda_buscar">
                            <input type="text" placeholder="Buscar" id="Buscar" />
                            <a href="#" class="boton">Buscar</a>
                        </div>
                        <div id="espacio_busqueda_iconos">
                            <a href=""><i class="fa-solid fa-file-pen ico"></i></a>
                            <a href=""><i class="fa-solid fa-user-plus ico"></i></a>
                        </div>
                    </div>

                    <tr id="Titulo">
                        <th>Identificacion</th>
                        <th>Nombre</th>
                        <th>Ocupación</th>
                        <th>Estado</th>
                        <th>Desabilitar/Habilitar</th>
                        <th></th>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Oficial construcción</td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Electricista</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Pintor</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Cerrajero</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Carpintero</td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Soldador</td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Maestro de llaves</td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Oficial red de gas</td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Oficios varios</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Carpintero</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Albañil/td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Electricista</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Oficial construcción</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Oficios varios</td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Carpintero</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Electricista</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Estucador</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Jardineros</td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Cerrajero</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Carpintero</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Albañil</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>luis Chang</td>
                        <td>Electricista</td>
                        <td>Disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria sal</td>
                        <td>Oficios varios</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Electricista</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    </tr>
                    <tr class="usuario">
                        <td>5264305016</td>
                        <td>Maria Anders</td>
                        <td>Soldador</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                    <tr class="usuario">
                        <td>4381116234</td>
                        <td>Francisco Chang</td>
                        <td>Estucador</td>
                        <td>No disponible</td>
                        <td class="Iconos-organizar">
                            <a href=""><i class="fa-solid fa-user-xmark"></i></a><a href=""><i
                                    class="fa-solid fa-user-check"></i></a>
                        </td>
                    </tr>
                </table>
            </div>

        </section>
    </div>


    <script src="../assets/js/script_default.js"></script>
</body>

</html>