#table_s{
    width: 90%;
}
.center-cell{
    text-align: center;
}
.custom-mui-datatable  {
    & .MuiTableCell-root[data-colindex="0"]{
        width: 1%;
    }
    & .MuiTableCell-root{
    width: 20%;
    }
  }
.custom-table-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;

}