#table_s{
    width: 90%;
}
.center-cell{
    text-align: center;
}
.Centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.716);
    & p{
        text-align: center;
    }
}
.buttons__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.custom-mui-datatable  {
        
    & .MuiTableCell-root[data-colindex="0"]{
        width: 1%;
    }
    // & .MuiTableCell-root{
    // width: 10%;
    // }
  }
.custom-table-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;

}