#table_s {
  width: 90%;
}
.center-cell {
  text-align: center;
  text-transform: capitalize;
}
.Centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.716);
  & p {
    text-align: center;
  }
}
.MuiFormControl-root {
  padding-right: 20px !important;
  padding-left: 10px !important;
}
.for__email___datatable {
  text-transform: lowercase;
}
.tss-1qtl85h-MUIDataTableBodyCell-root {
  text-align: start;
  text-transform: capitalize;
}
.tss-178gktx-MUIDataTableHeadCell-contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}
.tss-1akey0g-MUIDataTableHeadCell-data {
  text-transform: capitalize;
}
.buttons__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.custom-table-title {
  text-align: center;

  font-size: 20px;
}
