@use './datatables';
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#root{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.sidebar {
    padding-top: 50px;
}

#Content-global {
    display: flex;
    height: 80vh;
}