.contenedor{
    position: relative;
    display: inline-block;
    transition: 0.5;
}
.links{
    transition: 0.5;
    display: none;
    position: absolute;
    bottom: -170px;
    left: 150px;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 20px 16px 10px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 20px 5px 20px 20px;
}
.links a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.5;


 }


.Carrusel{
    margin:20px 200px;
    border-radius: 20px;
}
img-radio{
    border-radius: 20px;
    color: black;
}